In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 6.0/6.0 MB 7.5 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp38-cp38-win_amd64.whl size=1154672 sha256=438b9e53996bac31a52888e453783eb3c3274575d475e87ef5aa6bccec9420cd
  Stored in directory: c:\users\vatsal\appdata\local\pip\cache\wheels\cb\43\46\fa638f2422554332b7865d600275b24568bf60e76104a94bb4
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9
Requirement already satisfied: ibm_db_sa in c:\users\vatsal\miniconda3\lib\site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\vatsal\miniconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ipython-sql in c:\users\vatsal\miniconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\vatsal\miniconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\vatsal\miniconda3\lib\site-packages (from ipython-sql) (8.0.1)
Requirement already satisfied: prettytable<1 in c:\users\vatsal\miniconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\vatsal\miniconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\vatsal\miniconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\vatsal\miniconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: colorama in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.4)
Requirement already satisfied: pygments in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.24)
Requirement already satisfied: backcall in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: black in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (21.12b0)
Requirement already satisfied: decorator in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: traitlets>=5 in c:\users\vatsal\miniconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\vatsal\miniconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\vatsal\miniconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: typing-extensions>=3.10.0.0 in c:\users\vatsal\miniconda3\lib\site-packages (from black->ipython>=1.0->ipython-sql) (4.0.1)
Requirement already satisfied: mypy-extensions>=0.4.3 in c:\users\vatsal\miniconda3\lib\site-packages (from black->ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: pathspec<1,>=0.9.0 in c:\users\vatsal\miniconda3\lib\site-packages (from black->ipython>=1.0->ipython-sql) (0.9.0)
Requirement already satisfied: click>=7.1.2 in c:\users\vatsal\miniconda3\lib\site-packages (from black->ipython>=1.0->ipython-sql) (8.0.1)
Requirement already satisfied: tomli<2.0.0,>=0.2.6 in c:\users\vatsal\miniconda3\lib\site-packages (from black->ipython>=1.0->ipython-sql) (1.2.3)
Requirement already satisfied: platformdirs>=2 in c:\users\vatsal\miniconda3\lib\site-packages (from black->ipython>=1.0->ipython-sql) (2.3.0)
Requirement already satisfied: asttokens in c:\users\vatsal\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in c:\users\vatsal\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: pure-eval in c:\users\vatsal\miniconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [4]:
%sql ibm_db_sa://ntj18724:IS6Kxcl94WAiH2C4@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL

In [ ]:
%sql ibm_db_sa://

In [13]:
%%sql 
SELECT DISTINCT Launch_Site 
FROM SPACEXTBL

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]



##### Display 5 records where launch sites begin with the string 'CCA'

In [19]:
%%sql
SELECT Launch_Site 
FROM SPACEXTBL
WHERE Launch_Site LIKE 'CCA%'
OFFSET 0 ROWS FETCH FIRST 5 ROWS ONLY;

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]



##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [60]:
%%sql
SELECT Customer, SUM(PAYLOAD_MASS__KG_) AS PMK
FROM SPACEXTBL
WHERE Customer='NASA (CRS)'
GROUP BY Customer;

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('NASA (CRS)', 45596)]



##### Display average payload mass carried by booster version F9 v1.1

In [62]:
%%sql
SELECT AVG(PAYLOAD_MASS__KG_) AS PMK, Booster_Version
FROM SPACEXTBL
WHERE Booster_Version = 'F9 v1.1'
GROUP BY Booster_Version;

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(2928, 'F9 v1.1')]



##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [72]:
%%sql
SELECT MIN(Date) AS Date, Landing__Outcome 
FROM SPACEXTBL
WHERE Landing__Outcome = 'Success'
GROUP BY Landing__Outcome;

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(datetime.date(2018, 7, 22), 'Success')]


##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [82]:
%%sql
SELECT Booster_Version
FROM SPACEXTBL
WHERE (Landing__Outcome = 'Success (drone ship)') AND (4000 < PAYLOAD_MASS__KG_ < 6000);

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('F9 FT B1021.1',),
 ('F9 FT B1023.1',),
 ('F9 FT  B1029.2',),
 ('F9 FT B1038.1',),
 ('F9 B4 B1042.1',),
 ('F9 B4 B1045.1',),
 ('F9 B5  B1046.1',)]



##### List the total number of successful and failure mission outcomes

In [86]:
%%sql
SELECT Mission_Outcome, COUNT(Mission_Outcome) AS count
FROM SPACEXTBL
GROUP BY Mission_Outcome;

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [88]:
%%sql
SELECT Booster_Version
FROM SPACEXTBL
WHERE (SELECT MAX(PAYLOAD_MASS__KG_)
                 FROM SPACEXTBL);

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('F9 v1.0  B0003',),
 ('F9 v1.0  B0004',),
 ('F9 v1.0  B0005',),
 ('F9 v1.0  B0006',),
 ('F9 v1.0  B0007',),
 ('F9 v1.1  B1003',),
 ('F9 v1.1',),
 ('F9 v1.1',),
 ('F9 v1.1',),
 ('F9 v1.1',),
 ('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1010',),
 ('F9 v1.1 B1012',),
 ('F9 v1.1 B1013',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1015',),
 ('F9 v1.1 B1016',),
 ('F9 v1.1 B1018',),
 ('F9 FT B1019',),
 ('F9 v1.1 B1017',),
 ('F9 FT B1020',),
 ('F9 FT B1021.1',),
 ('F9 FT B1022',),
 ('F9 FT B1023.1',),
 ('F9 FT B1024',),
 ('F9 FT B1025.1',),
 ('F9 FT B1026',),
 ('F9 FT B1029.1',),
 ('F9 FT B1031.1',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 FT B1034',),
 ('F9 FT B1035.1',),
 ('F9 FT  B1029.2',),
 ('F9 FT B1036.1',),
 ('F9 FT B1037',),
 ('F9 B4 B1039.1',),
 ('F9 FT B1038.1',),
 ('F9 B4 B1040.1',),
 ('F9 B4 B1041.1',),
 ('F9 FT  B1031.2',),
 ('F9 B4 B1042.1',),
 ('F9 FT  B1035.2',),
 ('F9 FT  B1036.2',),
 ('F9 B4 B1043.1',),
 ('F9 FT  B1032.2',),
 ('F9 FT  B1038.2',),
 ('F9 B4 B1044',),
 ('F9 B4  B1041.2',),
 ('F9 B4  B1039.2',),
 ('F9 B4 B1045.1',),
 ('F9 B5  B1046.1',),
 ('F9 B4  B1043.2',),
 ('F9 B4  B1040.2',),
 ('F9 B4 B1045.2',),
 ('F9 B5B1047.1',),
 ('F9 B5B1048.1',),
 ('F9 B5 B1046.2',),
 ('F9 B5B1049.1',),
 ('F9 B5 B1048.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5B1050',),
 ('F9 B5B1054',),
 ('F9 B5 B1049.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5B1051.1',),
 ('F9 B5B1056.1',),
 ('F9 B5 B1049.3',),
 ('F9 B5 B1051.2',),
 ('F9 B5 B1056.2',),
 ('F9 B5 B1047.3',),
 ('F9 B5 B1048.4',),
 ('F9 B5B1059.1',),
 ('F9 B5 B1056.3',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1046.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1059.2',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5B1058.1',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1059.3',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2',),
 ('F9 B5 B1051.5',),
 ('F9 B5 B1049.6',),
 ('F9 B5 B1059.4',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5B1062.1',),
 ('F9 B5B1061.1',),
 ('F9 B5B1063.1',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1058.4',)]



##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [91]:
%%sql
select Landing__Outcome, Booster_Version, Launch_Site
from SPACEXTBL
Where YEAR(Date) = '2015' AND Landing__Outcome = 'Failure (drone ship)';

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]



##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [121]:
%%sql
select Landing__Outcome, COUNT(Landing__Outcome) AS LOC 
from SPACEXTBL
where Date between '2010-06-04' and '2017-03-20'
group by Landing__Outcome
order by LOC DESC;

 * ibm_db_sa://ntj18724:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>